* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
:root {
  --dark-blue: hsl(233, 26%, 24%);
  --line-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --white: hsl(0, 0%, 100%);
  --black: #121212;
  --bg-color: #282c34;
}
body {
  background-color: var(--bg-color);
}
h1,
h2,
h3 {
  color: var(--line-green);
}
p,
table,
td,
tr,
li,
a {
  color: var(--light-grayish-blue);
}

img {
  width: 100%;
  height: auto;
  margin-top: 30px;
}
.container {
  width: 90%;
  margin: auto;
}
.btn {
  border: none;
  background: var(--line-green);
  padding: 10px 20px;
  border: 50px;
  width: auto;
  color: var(--white);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  cursor: pointer;
  background: linear-gradient(to right, var(--bright-cyan), var(--line-green));
}

header {
  margin-top: 40px;
  font-size: 1.5rem;
  text-decoration-color: var(--white);
  margin-left: 15px;
}
.article-wrapper {
  width: 100%;
}
#h-img {
  width: 30%;
  height: auto;
  display: inline-block;
}

.features {
  margin-top: 5vh;
  display: flex;
  float: none;
}
.features h1:last-child {
  border: 1px solid wheat;
}
.features h1 {
  font-size: 40px;
}
.features table tr td {
  color: var(--grayish-blue);
  line-height: 2;
  font-size: 18px;
}
/* ! don't delete it is is very important  */

/* .ads {
  float: right;
  width: 50%;
  height: auto;
}
.ads h1 {
  height: 400px;
} */

/* ?  did you know part  */
.fact {
  margin-top: 50px;
}
.fact h1 {
  font-size: 34px;
  margin-bottom: 23px;
}
.fact p {
  line-height: 1.9;
  width: 60%;
  color: var(--grayish-blue);
  font-size: 20px;
}
.fact button {
  float: right;
  margin-top: 10px;
}

/**    ----->    THis os footer part   */
footer {
  margin-top: 5%;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: space-around;
  height: auto;
}
.one,
.two,
.three {
  margin-top: 30px;
  margin-bottom: 30px;
  /* border: 1px solid wheat; */
}
.two li {
  list-style-type: none;
}
.two a {
  line-height: 2;
}
.two a:hover {
  color: var(--line-green);
}
.three button {
  margin-bottom: 30px;
}

/* !        message fied 
.message-field {
  margin-top: 90px;
  margin-bottom: 90px;
}
.message-field h1 {
  text-align: center;
  font-size: 40px;
  padding: 0 0 10px 0;
}
.message-field p {
  text-align: center;
  margin-bottom: 10px;
}
.message-field input {
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  margin: auto;
  padding: 10px;
  border: none;
  background: var(--grayish-blue);
  box-shadow: 2px 4px 10px rgba(255, 2555, 255, 0.6);
}
#msg {
  padding: 23px;
}
textarea {
  resize: none;
  border-radius: 10px;
  border: none;
  width: 84%;
  background: var(--grayish-blue);
  box-shadow: 2px 4px 12px rgba(255, 2555, 255, 0.6);
} */
/* #btn {
  margin-top: 19px;

} */

.navbar {
  background-color: var(--line-green);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-bars {
  margin-left: 2rem;
  font-size: 3rem;
  background: none;
}
#topic h1 {
  color: var(--black);
}
#topic1 {
  color: palevioletred;
}
.nav-menu {
  background-color: var(--line-green);
  width: 200px;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}
.nav-menu.active {
  left: 0;
  transition: 350ms;
}
.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 60px;
  width: 100%;
}
.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  font: 18px;
}
.nav-text a:hover {
  background-color: var(--grayish-blue);
}
.nabvar-toggle {
  background-color: var(--line-green);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-text a:active {
  background-color: var(--grayish-blue);
}

/* * responsive design  */
@media (max-width: 972px) {
  header h1 {
    font-size: 1.6em;
  }

  .article-wrapper {
    display: flex;
    /* flex-wrap: wrap; */
  }
  #h-img {
    width: 30%;
    height: auto;
    float: right;
  }
}

@media (max-width: 870px) {
  .features {
    margin-top: 50px;
  }
  .features h1 {
    font-size: 1.6em;
  }
  .two h1 {
    font-size: 20px;
  }
  #topic h1 {
    font-size: 25px;
  }
  #h-img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 700px) {
  .fact p {
    width: 100%;
    margin-bottom: 12px;
    font-size: 18px;
  }
  .features {
    display: flex;
    flex-wrap: wrap;
  }
  .ads {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
  footer {
    display: block;
  }
  .one,
  .two,
  .three {
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
  }
}
@media (max-width: 520px) {
  * {
    font-weight: 300;
  }
  .fact p {
    width: 100%;
    margin-bottom: 12px;
    font-size: 18px;
  }
  #topic h1 span:first-child {
    display: none;
  }
  #topic h1 {
    font-size: 18px;
    /* display: none; */
    color: var(--black);
  }
  .message-field h1 {
    font-size: 1.8em;
  }
  #country {
    margin-top: 20px;
  }
}
#tb {
  position: absolute;
  position: top;
}
@media (max-width: 400px) {
  .features table tr td p {
    color: var(--grayish-blue);
    line-height: 2;
    font-size: 16px;
  }
  header {
    font-size: 16px;
  }
  .fact p {
    width: 100%;
    margin-bottom: 12px;
    font-size: 17px;
  }
}
